<div class="sidebar" th:fragment="sidebar">
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar-brand">
        <h1><span class="las la-gamepad"></span><span>E-Sporter</span></h1>
    </div>
    <div class="sidebar-menu">

        <ul>
            <li th:each="f : ${dashboardFunctions}">
                <!--@thymesVar id="f" type="com.example.sae.models.DashboardFunction"-->
                <a th:href="${f.getRoute()}"
                   th:classappend="${#httpServletRequest.getRequestURI() == f.getRoute() ? 'active':''}"><span
                        class="las" th:classappend="${f.getIcon()}"></span><span th:text="${f.getNom()}"></span></a>
            </li>
        </ul>
    </div>
</div>

<header th:fragment="header">
    <h2 th:if="${ecurie != null}">Vous gérez l'écurie <span th:text="${ecurie.getNom()}"></span></h2>
    <h2 th:if="${ecurie == null}">Compte Organisateur</h2>
    <div class="user-wrapper">
        <div>
            <!--@thymesVar id="appuser" type="com.example.sae.models.db.AppUser"-->
            <h4>Bonjour <span th:text="${appuser.getFullName()}"></span><a
                    style="text-decoration: none; color: gray; font-size: .80rem" th:href="@{/logout}">, Se
                déconnecter</a></h4>
        </div>
    </div>
</header>