<!DOCTYPE html>
<html lang="fr" xmlns xmlns:th>
<head>
    <th:block th:include="fragments/header :: head" />
    <title>Dashboard Arbitre</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">

    </div>

    <div class="main-content">

        <header th:replace="fragments/dashboard/sidebar :: header"></header>

        <main>
            <div class="welcome-card">
                <p class="welcome-icon"><i class="las la-info-circle"></i></p>
                <div class="welcome-txt">
                    <p class="welcome-title">Bienvenue sur votre panneau arbitre !</p>
                    <p class="welcome-desc">Ici est affiché une liste de données concernant le nombre de compétition et de matchs à arbitrer total !</p>
                </div>
            </div>
            <div class="card-stat-container">
                <div class="card-stat">
                    <p class="card-icon"><i class="las la-user"></i></p>
                    <p class="card-data" th:text="${nb_competition}"></p>
                    <p class="card-title">Nombre de compétition</p>
                </div>
                <div class="card-stat">
                    <p class="card-icon"><i class="las la-users"></i></p>
                    <p class="card-data" th:text="${nb_match_a_arbitrer}"></p>
                    <p class="card-title">Nombre de matchs à arbitrer</p>
                </div>
            </div>
        </main>
    </div>

</body>
</html>