<!DOCTYPE html>
<html lang="fr" xmlns xmlns:th>
<head>
    <th:block th:include="fragments/header :: head"/>
    <title>Dashboard Écurie</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">

        ok
    </div>

    <div class="main-content">

        <header th:replace="fragments/dashboard/sidebar :: header"></header>

        <main>
            <h1 class="title">Ajouter un tournoi</h1>

            <div class="form-crud">

                <form action="#" th:action="@{/organisateur/tournois/create}" th:object="${tournois}" method="POST">

                    <div class="form-input">
                        <label for="nom">Nom du tournoi</label>
                        <input required type="text" id="nom" th:field="*{nom}" placeholder="Nom du tournoi">
                    </div>

                    <div class="form-input">
                        <label for="cashpricepoints">Cashprize Point</label>
                        <input required type="number" id="cashpricepoints" th:field="*{cashpricepoints}">
                    </div>

                    <div class="form-input">
                        <label for="etenduetournois">Notoriété</label>
                        <select required id="etenduetournois" th:field="*{etenduetournois}">
                            <!--@thymesVar id="j" type="com.example.sae.models.db.Jeu"-->

                            <option value="Regional">Régional</option>
                            <option value="National">National</option>
                            <option value="Mondial">Mondial</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-info col-2">Sauvegarder</button>
                </form>
            </div>
        </main>
    </div>

</body>
</html>