<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Joueur</title>
</head>
<body>

<h1>Créer un tournois</h1>

<form action="#" th:action="@{/templates/organisateur/tournois/create}" th:object="${tournois}" method="POST">

    <input type="text" th:field="*{nom}" placeholder="Nom">
    <input type="text" th:field="*{cashpricepoints}" placeholder="Cash Price">
    <input type="text" th:field="*{etenduetournois}" placeholder="Etendue Tournois">

    <button type="submit" class="btn btn-info col-2"> Sauvegarder</button>
</form>

</body>
</html>