<!DOCTYPE html>
<html lang="fr" xmlns xmlns:th>
<head>
    <th:block th:include="fragments/header :: head"/>
    <title>Dashboard Ecurie</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">

        ok
    </div>

    <div class="main-content">

        <header th:replace="fragments/dashboard/sidebar :: header"></header>

        <main>
            <div class="table-crud-header">
                <p class="table-crud-header--title">Les tournois</p>

                <div class="table-crud-header--action">
                    <a class="btn btn-primary" th:href="@{/tournois/create}"><i class="las la-plus"></i>Créer un
                        tournois</a>
                </div>
            </div>
            <table class="table-crud">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Cash Price</th>
                    <th>Etendue Tournois</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="t : ${tournois}">
                    <!--@thymesVar id="t" type="com.example.sae.models.Tournois"-->
                    <td th:text="${t.getNom()}"></td>
                    <td th:text="${t.getCashpricepoints()}"></td>
                    <td th:text="${t.getEtenduetournois()}"></td>
                    <td>
                        <a th:href="@{/organisateur/tournois/{id}/details/(id=${t.getId()})}">Details</a>
                    </td>
                </tr>
                </tbody>


            </table>
        </main>
    </div>

</body>
</html>