@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --main-color: #1e5262;
    --color-dark: #1D2231;
    --text-color: #8390A2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar-brand span:first-child {
    margin-right: 8px;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: .85rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 200ms;
}

.sidebar-menu a span:first-child {
    font-size: 1.3rem;
    margin-right: 8px;
}

.sidebar-menu a.active, .sidebar-menu a:hover {
    background: var(--color-dark);
    border-radius: 30px 0px 0px 30px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 1000;
    transition: left 300ms;
    background-color: white;
}

header h2 {
    font-weight: lighter;
    color: #222;
}

header h2 span {
    font-weight: bold;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

main {
    margin-top: 60px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color)
}

.card-single div:first-child span {
    color: var(--text-color);
}

.card-single:last-child {
    background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span {
    color: #fff;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked + .sidebar {
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar li a span {
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }

    .sidebar-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 0;
        text-align: center;
    }

    .main-content {
        margin-left: 70px;
    }

    .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }

    .sidebar li a {
        padding-left: 0rem;
    }

    .sidebar li a span {
        padding-right: 0;
    }

    .sidebar .sidebar-brand h1 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .search-wrapper {
        display: none;
    }
}