select, input {
    border: none;
    padding: 0.8rem 0.8rem;
    border-radius: 35px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding-left: 75%;
}

.form-crud {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-crud form {
    width: 50%;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form-input-error {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .035), 0 0 4px var(--color-danger);
}

.error-form {
    background-color: var(--color-danger);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
}

.form-feedback-error {
    margin: .5rem 0 0 .5rem;
    font-size: .8rem;
    font-weight: lighter;
    color: var(--color-danger);
}

.form-footer {
    display: flex;
    justify-content: center;
}

.form-footer button {
    cursor: pointer;
}

.form-input label {
    margin-bottom: .5rem;
}

.stepper-wrapper {
    font-family: Arial;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
}

.stepper-item.completed .step-counter {
    color: white;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    background-color: var(--main-color);
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}

.stepper-item.completed.active::after {
    width: 50% !important;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}
