.table-crud-header {
    display: flex;
    margin: 0 0 1rem 0;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.table-crud-header .table-crud-header--title {
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: bold;
}

.table-crud-header--title.black {
    color: var(--color-dark);
}

.table-crud-header .table-crud-header--action {
    margin-left: auto;
}

.table-crud {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.table-crud .notread {
    border-left: 4px solid var(--main-color);
    box-sizing: border-box;
}

.table-crud th, td {
    padding: 0.8rem 0.4rem;
}

.table-crud th {
    font-size: 1.2rem;
    text-align: left;
    background-color: var(--main-color);
    color: white;
}

.table-crud tr {
    font-size: 1.1rem;
}

.table-crud tr:nth-child(2n) {
    padding: 2rem 0;
    background-color: #fcfcfc;
}