<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Joueur</title>
</head>
<body>

<h1>Ajouter un joueur à l'écurie</h1>

<form action="#" th:action="@{/ecurie/joueurs/ajout}" th:object="${joueur}" method="POST">
    <input type="text" th:field="*{prenom}" placeholder="Prénom">
    <input type="text" th:field="*{nom}" placeholder="Nom">
    <input type="text" th:field="*{pseudo}" placeholder="Pseudo">
    <input type="text" th:field="*{nationnalite}" placeholder="Nationnalité">
    <input type="date" th:field="*{entree_pro}" placeholder="Entrée">

    <button type="submit" class="btn btn-info col-2"> Save</button>
</form>

</body>
</html>