<!DOCTYPE html>
<html lang="fr" xmlns xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head"/>
    <title>Dashboard Écurie</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">

        ok
    </div>

    <div class="main-content">

        <header th:replace="fragments/dashboard/sidebar :: header"></header>

        <main>
            <h1 class="title"><span th:text="${joueur.getId() != null} ? 'Modifier': 'Ajouter'"></span> un joueur</h1>

            <div class="form-crud">
                <form  action="#" th:action="@{/ecurie/joueurs/ajout}" th:object="${joueur}" method="POST">
                    <!--@thymesVar id="joueur" type="com.example.sae.models.db.Joueur"-->

                    <input th:if="${joueur.getId() != null}" type="hidden" th:field="*{id}" />

                    <div class="form-input">
                        <label for="nom">Nom du joueur</label>
                        <input id="nom" type="text" th:field="*{nom}" placeholder="Nom" th:errorclass="form-input-error">
                        <span class="form-feedback-error" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                    </div>

                    <div class="form-input">
                        <label for="prenom">Prenom du joueur</label>
                        <input id="prenom" type="text" th:field="*{prenom}" placeholder="Prénom" th:errorclass="form-input-error">
                        <span class="form-feedback-error" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
                    </div>

                    <div class="form-input">
                        <label for="pseudo">Pseudo du joueur</label>
                        <input id="pseudo" type="text" th:field="*{pseudo}" placeholder="Pseudonyme" th:errorclass="form-input-error">
                        <span class="form-feedback-error" th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></span>
                    </div>

                    <div class="form-input">
                        <label for="nationnalite">Nationalité du joueur</label>
                        <input id="nationnalite" type="text" th:field="*{nationnalite}" placeholder="Nationalité" th:errorclass="form-input-error">
                        <span class="form-feedback-error" th:if="${#fields.hasErrors('nationnalite')}" th:errors="*{nationnalite}"></span>
                    </div>

                    <div class="form-input">
                        <label for="entree_pro">Date entrée pro</label>
                        <input id="entree_pro" type="date" th:field="*{entree_pro}"  th:errorclass="form-input-error">
                        <span class="form-feedback-error" th:if="${#fields.hasErrors('entree_pro')}" th:errors="*{entree_pro}"></span>
                    </div>

                    <div class="form-footer">
                        <button class="btn btn-primary" type="submit">
                            <i class="las la-plus"></i>
                            <span th:text="${joueur.getId() != null} ? 'Modifier': 'Ajouter'"></span> un joueur
                        </button>
                    </div>
                </form>

            </div>
        </main>
    </div>

</body>
</html>