<!DOCTYPE html>
<html lang="fr" xmlns xmlns:th>
<head>
    <th:block th:include="fragments/header :: head"/>
    <title>Dashboard Écurie</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">

        ok
    </div>

    <div class="main-content">

        <header th:replace="fragments/dashboard/sidebar :: header"></header>

        <main>
            <h1 class="title">Modifier un joueur</h1>

            <div class="form-crud">
                <form  action="#" th:action="@{/ecurie/joueurs/ajout}" th:object="${joueur}" method="POST">
                    <!--@thymesVar id="joueur" type="com.example.sae.models.db.Joueur"-->

                    <input type="hidden" th:field="*{id}" />

                    <div class="form-input">
                        <label for="nom">Nom du joueur</label>
                        <input id="nom" type="text" th:field="*{nom}" placeholder="Nom">
                    </div>

                    <div class="form-input">
                        <label for="prenom">Prénom du joueur</label>
                        <input id="prenom" type="text" th:field="*{prenom}" placeholder="Prénom">
                    </div>

                    <div class="form-input">
                        <label for="pseudo">Pseudo du joueur</label>
                        <input id="pseudo" type="text" th:field="*{pseudo}" placeholder="Pseudonyme">
                    </div>

                    <div class="form-input">
                        <label for="nationnalite">Nationalité du joueur</label>
                        <input id="nationnalite" type="text" th:field="*{nationnalite}" placeholder="Nationalité">
                    </div>

                    <div class="form-input">
                        <label for="entree_pro">Date entrée pro</label>
                        <input id="entree_pro" type="date" th:field="*{entree_pro}">
                    </div>

                    <div class="form-footer">
                        <button class="btn btn-primary" type="submit">
                            <i class="las la-plus"></i>
                            Modifier le joueur
                        </button>
                    </div>
                </form>

            </div>
        </main>
    </div>

</body>
</html>