<!DOCTYPE html>
<html lang="fr" xmlns xmlns:th>
<head>
    <th:block th:include="fragments/header :: head"/>
    <title>Dashboard Écurie</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">

        ok
    </div>

    <div class="main-content">

        <header th:replace="fragments/dashboard/sidebar :: header"></header>

        <main>
            <div class="table-crud-header">
                <a class="btn btn-primary" th:href="@{/ecurie/joueurs/ajout}"><i class="las la-plus"></i>Ajouter un
                    joueur à mon écurie</a>
            </div>
            <table class="table-crud">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Nationalité</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="j : ${joueurs}">
                    <!--@thymesVar id="j" type="com.example.sae.models.db.Joueur"-->
                    <td th:text="${j.getNom()}"></td>
                    <td th:text="${j.getPrenom()}"></td>
                    <td th:text="${j.getPseudo()}"></td>
                    <td th:text="${j.getNationnalite()}"></td>
                    <td style="display: flex; align-items: center; gap: 16px">
                        <a class="btn" th:href="@{/ecurie/joueurs/{id}(id=${j.getId()})}">Modifier joueur</a>

                        <form method="post" th:action="@{/ecurie/joueurs/{id}/supprimer/(id=${j.getId()})}"
                              class="form-need-confirm"
                              th:data-confirm-message="${'Voulez vous vraiment supprimer le joueur ' + j.getPseudo() + ' ?'}">
                            <input type="submit" class="btn btn-danger" value="Supprimé">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>

</body>
</html>