<!DOCTYPE html>
<html lang="fr" xmlns xmlns:th>
<head>
    <th:block th:include="fragments/header :: head"/>
    <title>Dashboard Écurie</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">

        ok
    </div>

    <div class="main-content">

        <header th:replace="fragments/dashboard/sidebar :: header"></header>

        <main>
            <h1 class="title">Ajouter une équipe</h1>

            <div class="form-crud">
                <form action="#" th:action="@{/ecurie/equipes/ajout}" th:object="${equipe}" method="POST">
                    <!--@thymesVar id="equipe" type="com.example.sae.models.db.Equipe"-->

                    <div class="form-input">
                        <label for="nom">Nom de l'équipe</label>
                        <input id="nom" type="text" th:field="*{nom}" placeholder="Nom de l'équipe" th:errorclass="form-input-error">
                        <span class="form-feedback-error" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                    </div>

                    <div class="form-input">
                        <label for="jeu">Jeu joué par cette équipe</label>
                        <select required id="jeu" th:field="*{jeuSpe}">
                            <!--@thymesVar id="j" type="com.example.sae.models.db.Jeu"-->
                            <option th:each="j : ${jeux}" th:value="${j.getId()}" th:text="${j.getNom()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-footer">
                        <button class="btn btn-primary" type="submit">
                            <i class="las la-plus"></i>
                            Ajouter l'équipe
                        </button>
                    </div>
                </form>

            </div>
        </main>
    </div>

</body>
</html>