<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="fragments/header :: head"/>
    <title>Title</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">
    </div>
    <div class="main-content">
        <header th:replace="fragments/dashboard/sidebar :: header"></header>

        <main>

            <h1 class="title">Details de l'équipe <span th:text="${equipe.getNom()}"></span></h1>

            <div th:if="${equipe.getNbJoueurs()} != ${jeuspe.getNbJoueurParEquipe()}" class="alert alert-danger">
                <i class="las la-exclamation-triangle"></i>
                <p>Votre équipe n'est
                    pas
                    conforme, les équipes du jeu <span th:text="${jeuspe.getNom()}"></span> doivent contenir <span
                            th:text="${jeuspe.getNbJoueurParEquipe()}"></span> joueurs !</p>
            </div>

            <div class="equipes-details">
                <div class="equipes-details--line">
                    <i class="las la-user-friends"></i>
                    <p class="equipes-details--line--title">Nombre de joueurs: </p>
                    <p class="equipes-details--line--data" th:text="${jeuspe.getNbJoueurParEquipe()}"></p>
                </div>

                <div class="equipes-details--line">
                    <i class="las la-gamepad"></i>
                    <p class="equipes-details--line--title">Jeu joué: </p>
                    <p class="equipes-details--line--data" th:text="${jeuspe.getNom()}"></p>
                </div>
            </div>

            <div class="">
                <h1 class="title">Changer le logo de l'équipe</h1>
                <img th:src="@{${equipe.getLogoPath()}}"  alt="Logo de l'équipe"/>
                <form th:action="@{/ecurie/equipes/{id}/ajouterLogo(id=${equipe.getId()})}"
                      method="post" enctype="multipart/form-data">
                    <label>Photos: </label>
                    <input type="file" name="image" accept="image/png, image/jpeg"/>
                    <button type="submit" class="btn btn-primary col-2">Changer le logo</button>
                </form>
            </div>

            <div class="table-crud-header">
                <p class="table-crud-header--title">Composition de l'équipe</p>

                <div class="table-crud-header--action"
                     th:if="${equipe.getNbJoueurs()} != ${jeuspe.getNbJoueurParEquipe()}">
                    <form action="#" th:action="@{/ecurie/equipes/{id}/ajouterJoueur(id=${equipe.getId()})}"
                          method="POST">
                        <!--@thymesVar id="equipe" type="com.example.sae.models.db.Equipe"-->

                        <select name="id_joueur">
                            <!--@thymesVar id="j" type="com.example.sae.models.db.Joueur"-->
                            <option th:each="j : ${allAvailableJoueurs}" th:value="${j.getId()}"
                                    th:text="${j.getPseudo()}">
                            </option>
                        </select>

                        <button type="submit" class="btn btn-primary col-2"> Ajouter le joueur</button>
                    </form>
                </div>
            </div>

            <table class="table-crud">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Nationalité</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="j : ${joueurs}">
                    <!--@thymesVar id="j" type="com.example.sae.models.db.Joueur"-->
                    <td th:text="${j.getNom()}"></td>
                    <td th:text="${j.getPrenom()}"></td>
                    <td th:text="${j.getPseudo()}"></td>
                    <td th:text="${j.getNationnalite()}"></td>
                    <td>
                        <form th:action="@{/ecurie/equipes/{id}/supprimerJoueur(id=${equipe.getId()})}" method="post">
                            <input type="hidden" th:value="${j.getId()}" name="id_joueur">
                            <button style="color: white; background-color: #f84646; border-color: white; cursor: pointer"
                                    type="submit" class="btn btn-info col-2"> Supprimer
                            </button>
                        </form>
                        <a href=""></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>

    </div>

</body>
</html>