<!DOCTYPE html>
<html lang="fr" xmlns xmlns:th>
<head>
    <th:block th:include="fragments/header :: head"/>
    <title>Dashboard Ecurie</title>
</head>
<body>

    <div th:replace="fragments/dashboard/sidebar :: sidebar">
    </div>

    <div class="main-content">

        <header th:replace="fragments/dashboard/sidebar :: header"></header>
        <main>
            <div class="table-crud-header">
                <a class="btn btn-primary" th:href="@{/ecurie/equipes/ajout}"><i class="las la-plus"></i>Ajouter une equipe a mon ecurie</a>
            </div>

            <table class="table-crud">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Jeu</th>
                    <th>Nombre joueurs</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="e : ${equipes}">
                    <!--@thymesVar id="e" type="com.example.sae.models.Equipe"-->
                    <td th:text="${e.getNom()}"></td>
                    <td th:text="${e.getJeuSpeModel()?.getNom()}"></td>
                    <td th:text="${e.getNbJoueurs()}"></td>
                    <td>
                        <a th:href="@{/ecurie/equipes/{id}/details/(id=${e.getId()})}">Details</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>

</body>
</html>